$fondo: rgb(0, 0, 0);

.numeros{
    color: white;
    float:none;
    margin: 30px auto 30px auto;
    width: 100%;
    padding: 100px 15px;
    background-color: $fondo;
    text-align: center;
    box-sizing: border-box;
    .contenedoraumenta{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;

        .aumenta{
            border-radius: 5px;
            min-width: 200px;
            text-align: center;
            padding: 8px;
            letter-spacing: 4px;
        }
    }
}

