.parrafo {
  color: #888;
  margin: 15px 20%;
}

.titulo {
  margin: 15px 0;
  color: #888;
}

.quieto {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: transparent !important;
  height: 80px;
  font-size: .9em;
}

.quieto .logo {
  color: white;
  margin-left: 3em;
  font-size: 2.1em;
}

.quieto .nav-link {
  color: white;
  font-size: 1em;
  margin-right: 1em;
}

.quieto .nav-link:hover {
  color: white;
}

.quieto hr {
  color: white;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.quieto .partebarra {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 5em;
}

.moviendo {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: white;
  height: 55px;
  font-size: .9em;
}

.moviendo .logo {
  color: black;
  margin-left: 3em;
  font-size: 2.1em;
}

.moviendo .nav-link {
  color: black;
  font-size: 1em;
  margin-right: 1em;
}

.moviendo .nav-link:hover {
  color: black;
}

.moviendo .divisorvertical {
  color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.moviendo .partebarra {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 5em;
}

.menuhome {
  background-color: grey;
  width: 600px;
}

.icono {
  margin: auto 10px;
}

.whoweare {
  float: none;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  background-color: #d8d5d5;
  text-align: center;
}

.panel {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boton {
  margin: 0 15px;
  border-radius: 45px;
}

.btn-outline-primary:hover {
  color: green;
}

.carousel-item img {
  opacity: 0.6;
}

.gradiente1 {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 209, 231, 0.5)), to(rgba(243, 17, 224, 0.5)));
  background-image: linear-gradient(rgba(25, 209, 231, 0.5), rgba(243, 17, 224, 0.5));
  height: 630px;
  width: 100%;
}

.gradiente2 {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 630px;
  width: 100%;
}

.mostrador {
  width: 100%;
  margin-bottom: 0px;
  position: relative;
  display: block;
  z-index: 999;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mostrador .tarjetero {
  margin: 0px auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 999;
  overflow: hidden;
}

.caption-style-4 {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.caption-style-4 li {
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.caption-style-4 li:hover .caption {
  opacity: 1;
}

.caption-style-4 li:hover img {
  opacity: 1;
  transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  -moz-transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15);
  -o-transform: scale(1.15, 1.15);
}

.caption-style-4 img {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 400px;
  height: 300px;
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}

.caption-style-4 .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.caption-style-4 img {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.caption-style-4 .blur {
  background-color: rgba(0, 0, 0, 0.65);
  height: 300px;
  width: 400px;
  z-index: 5;
  position: absolute;
}

.caption-style-4 .caption-text h1 {
  text-transform: uppercase;
  font-size: 24px;
}

.caption-style-4 .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 400px;
  height: 300px;
  text-align: center;
  top: 100px;
}

#taaag {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@-webkit-keyframes transformer {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes transformer {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.aparece {
  -webkit-animation: transformer 0.5s ease-in-out 0s 1;
          animation: transformer 0.5s ease-in-out 0s 1;
}

.ocultar {
  display: none;
}

.escondercontransicion {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}

.numeros {
  color: white;
  float: none;
  margin: 30px auto 30px auto;
  width: 100%;
  padding: 100px 15px;
  background-color: black;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.numeros .contenedoraumenta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.numeros .contenedoraumenta .aumenta {
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
  padding: 8px;
  letter-spacing: 4px;
}
/*# sourceMappingURL=estilos.css.map */